.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #134455;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
/* 
.layout a {
    color: black;
    background-color: rgb(234, 232, 232);
    border-style: solid;
    border-color:rgb(127, 150, 159);
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px;
} */

