.layoutNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #134455;
    border-style: dashed;
    border-color: #eae8e8;
    height: 100%;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    
}

li {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color:grey;
    padding-right: 10px;
    padding-left: 10px;
}