.layoutNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #134455;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    
}

li {
    display: flex;
    flex-direction: row;
    
}

.layoutNav a:hover {
    background-color: rgb(127, 150, 159);
    color: rgb(234, 232, 232);
    font-style: italic;
    font-weight: bold;
}

.active {
    background-color: rgb(127, 150, 159);
    color: rgb(234, 232, 232);
    font-style: italic;
    font-weight: bold;
    border-style: solid;
    border-color:rgb(234, 232, 232);
    padding-right: 15px;
    padding-left: 15px;
    text-shadow: 2px 2px black;
    box-shadow: 2px 2px 2px black;
}

.inactive {
    background-color: rgb(234, 232, 232);
    color: black;
    border-style: solid;
    border-color:rgb(127, 150, 159);
    padding-right: 15px;
    padding-left: 15px;
}